body {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-width: 400px;
}

[required] {
  border: red solid 1px;
}

fieldset {
  background-color: lightgrey;
}

fieldset:hover {
  background-color: grey;
}

[type="submit"] {
  background-color: black;
  color: white;
  border: none;
}
