#azul {
  background-color: blue;
}

.lista:nth-child(odd) {
  text-decoration: underline;
  text-decoration-color: green;
}

.lista li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

[lang="en"] {
  font-size: 20px;
  font-weight: bold;
}

.lista > li::after {
  content: ":)";
}

#provincias {
  list-style: lower-roman;
}
