* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: orange;
}
.titulo {
  font-size: 170px;
  text-align: center;
  padding: 50px;
  color: white;
}
#tarjetas {
  display: flex;
  justify-content: center;
}

.tarjeta {
  width: 13%;
  height: 460px;
  margin: 0 30px;
  background-color: white;
  padding: 30px;
  text-align: center;
}

.tarjeta img {
  width: 140px;
  height: 140px;
  border-radius: 70%;
}

.tarjeta h1 {
  padding-top: 20px;
}
.tarjeta p {
  text-align: justify;
  background-color: purple;
}
.iconos {
  display: flex;
  justify-content: center;
  width: 50px;
  padding-left: 88px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.iconos img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

. texto {
  display: flex;
  background-color: purple;
  padding: 0;
}

.tarjeta {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.tarjeta:hover {
  transform: scale(1.3);
}
